$color: yellow;
$color-linea: black;
$margen-primera: 5px;
$margen: 5px;
$borde: 5px;
$inter-px: 3px;
$inter-width: 100%;
$prim_med_height: 150px;

.todos{
	box-sizing: border-box;
	margin: $margen-primera $margen-primera $margen-primera $margen-primera;
}

.dentro{
	background-color: $color;
	height: 100%;
}

.linea{
	background-color: $color-linea;
	height: 100%;
}
.contenedor{
	overflow: hidden;
	.primera{
		box-sizing: border-box;
		float: left;
		height: $prim_med_height;
		width: 31.4%;
		font-size: 100px;
		text-align: center;
	}
	.medio{
		box-sizing: border-box;
		float: left;
		height: $prim_med_height;
		width: 2%;
	}
}

.intermedio{
	border: $borde solid black;
}

.intermedioh{
	border: $borde solid black;
}

.margin_right{
	margin-right: $margen;
}

.margin_left{
	margin-left: $margen;
} 