.todos {
  box-sizing: border-box;
  margin: 5px 5px 5px 5px; }

.dentro {
  background-color: yellow;
  height: 100%; }

.linea {
  background-color: black;
  height: 100%; }

.contenedor {
  overflow: hidden; }
  .contenedor .primera {
    box-sizing: border-box;
    float: left;
    height: 150px;
    width: 31.4%; }
  .contenedor .medio {
    box-sizing: border-box;
    float: left;
    height: 150px;
    width: 2%; }

.intermedio {
  border: 5px solid black; }

.intermedioh {
  border: 5px solid black; }

.margin_right {
  margin-right: 5px; }

.margin_left {
  margin-left: 5px; }
